<!DOCTYPE html>
<html>
<head>
    <title>Efficiency Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<!--    <canvas id="efficiencyChart"></canvas>-->
    <canvas id="efficiencyChart" width="400" height="175"></canvas>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the data from the server-side context
            var firstNames = {{ first_name|safe }};
            var efficiencies = {{ efficiency|safe }};

            // Create a new Chart.js instance
            var ctx = document.getElementById("efficiencyChart").getContext("2d");
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: firstNames,
                    datasets: [{
                        label: 'Efficiency',
                        data: efficiencies,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 100
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
